@using Food__Delivery.Models.Home;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wisdom Food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Wisdom <span>Service</span></a></h1>
                    <p>Food Delivery</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Cart <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["cart"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["cart"])
                                {
                                    <li>
                                        <a href="@Url.Action("RemoveFromCart", "Home", new { productId=item.Product.ProductId})">@item.Product.ProductName (@item.Quantity) <i class="fa fa-times"></i></a>
                                    </li>
                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="nav-menus">

                    <ul class="nav nav-pills">
                        <li class="active"><a style="border-radius:initial;" href="#">Home</a></li>
                        <li><a style="border-radius:initial;" href="#">Location</a></li>
                        <li><a style="border-radius:initial;" href="#">About</a></li>
                    </ul>
                </div>
            </div>

            
        </div>


        @RenderBody()
        <hr />
        <footer>
            <div class="col-md-offset-2 col-md-8 col-sm-12 text-center">
                <h1 class="heading">Contact Us</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Contact Info.</h2>
                    <div class="ph">
                        <p><i style="font-size:20px" class="fa fa-whatsapp wow bounceIn"></i> Phone</p>
                        <h4>+12345678</h4>
                    </div>
                    <div class="address">
                        <p><i class="fa fa-map-marker"></i> Our Location</p>
                        <h4>190 abc in, INDIA</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Open Hours</h2>
                    <p>Sunday <span>10:30 AM - 10:00 PM</span></p>
                    <p>Mon-Fri <span>9:00 AM - 8:00 PM</span></p>
                    <p>Saturday <span>11:30 AM - 10:00 PM</span></p>
                </div>
                <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <h2 class="heading">Follow Us</h2>
                    <ul class="social-icon">
                        <li><a herf="https://wa.me/message/K6Z4CLWFKWECA1" class="fa fa-whatsapp wow bounceIn" data-wow-delay="0.3s">Whatsapp</a></li>
                        <li><a href="#" class="fa fa-twitter wow bounceIn" data-wow-delay="0.6s">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">

                    <div class="col-md-6 col-sm-6 copyright-left">
                        <p>&copy; @DateTime.Now.Year - wisdomtree services. All right reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 copyright-right">

                        <ul class="list-unstyled list-social">
                            <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
